@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
:root{
--fonteh1: "Pacifico", cursive;
--fontep: "Satisfy", cursive;
--cor_texto: #ffffff;
--cor_texto2: #633720;
--cor_fundo: #45744c;
--backgroundcolor: #5A3F30;
--cor_hover: rgb(172, 170, 114)
  
}
.destaques {
  display: flex; /* Transforma este div em um contêiner flexível */
  justify-content: space-between; /* Distribui os cards com espaço entre eles */
  gap: 16px; /* Adiciona um espaço entre os cards */
  flex-wrap: wrap;
}
.cards{
    flex: 1;
  background-color: lightgray;
  padding: 20px;
  border-radius: 8px;
  min-width: 200px
}
*{
    text-align: center;
    color: var(--cor_texto);
}
h1{
    font-family: var(--fonteh1);
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: var(--fontep);
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
}
a{
    font-family: var(--fontep);
    padding: 20px;
    font-size: 25px;
}
a:hover{
    transition: color 0.5s ease;
    text-decoration:solid;
    color: var(--cor_hover);
}
hr{
    background-color: var(--cor_fundo);
    height: 3px;
    border: none;
}
h2{
    color: var(--cor_fundo);
}
